@tailwind base;
@tailwind components;
@tailwind utilities;



.container{
  
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  box-sizing: border-box;
}

li.slick-active div{
  border-color: #978667; 
}

li.slick-active div div{
  background-color: #978667;
}

.react-calendar{
  min-width: 100%;
}

.react-calendar__month-view__weekdays__weekday abbr{
text-decoration: none;
}

.react-calendar__month-view__days__day--weekend abbr{
color: black;
}

@keyframes slideRight{
  0%{
      transform: translateX(-100%);
      opacity: 0;
      
  }
  100%{
      transform: translateX(0%);
      opacity: 1;
  }
}
